.search {
  padding-top: 100px;
  width: 85%;
}

.hover-box:hover img {
  box-shadow: 1px 1px 10px 0 #0099cc;
  transition: all 0.3s;
}
.hover-box:hover {
  box-shadow: 0 0 10px 0 #0099cc !important;
  transition: all 0.3s;
}

.cursor {
  cursor: pointer;
}

@media (max-width: 575px) {
  .hover-box {
    width: 80% !important;
    text-align: center;
    margin: auto;
  }
}
