<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div
          class="d-flex justify-content-center align-items-center flex-column"
        >
          <img src="/images/logo.avif" class="w-50" alt="photo-logo" />
          <p>
            In our book fair we have a lot of books and we try to provide more
            to help you, and we strive to help you get the books you want. We
            have a special section for great authors and you can get their books
            for free, we also provide you with collections of books on different
            topics and make it easy for you to access them. We have a special
            section for all books in our gallery and you can search for what you
            want through this section. You can search for books by the name of
            the book and also search for the author to get his works and also
            search for a specific group of books.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="d-flex justify-content-center align-items-center flex-column"
        >
          <h3 class="display-5 pt-5 fw-normal">Pages</h3>
        </div>
        <div
          class="d-flex justify-content-center align-items-center flex-column"
        >
          <ul>
            <li>
              <a routerLink="/Home">
                <i class="fa-solid fa-arrow-right me-3 arrow-move"></i>
                Home</a
              >
            </li>
            <li>
              <a routerLink="/all Book">
                <i class="fa-solid fa-arrow-right me-3 arrow-move"></i> all
                Books</a
              >
            </li>
            <li>
              <a routerLink="/Authors">
                <i class="fa-solid fa-arrow-right me-3 arrow-move"></i
                >Authors</a
              >
            </li>
            <li>
              <a routerLink="/Collection">
                <i class="fa-solid fa-arrow-right me-3 arrow-move"></i
                >Collections</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
